/*STYLE BODY*/
body {
  cursor: url(normal.cur), default;
  background-color: #FFEFF1;
  text-align: center;
}

h1 {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-style: italic;
  vertical-align: center;
  color: #5F4C4C;
  font-size: 70px;
  margin-top: 200px;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  background-color: #5F4C4C;
  color: #FFEFF1;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
}

button:hover{
  background-color: #FFEFF1;
  color:#5F4C4C;
  border: 2px solid #5F4C4C;
  cursor: url(select.cur), pointer;
}