/* STYLE SECTIONING TAGS */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #5F4C4C;
  text-align: center;
  cursor: url("normal.cur"), default;
}

/* STYLE TEXT */
h1 {
  font-style: italic;
  text-align: center;
  color: #FFEFF1;;
  font-size: 40px;
  margin-bottom: 10px;
}

h2, p {
  color: #FFEFF1;
  text-align: center;
}

h2{
  margin-top: 30px;
  margin-bottom: 5px;
}

p{
  margin-bottom: 120px;
  font-family: "Verdana", sans-serif;
}

#result {
  border-radius: 15px;
  padding: 30px;
  background-color: #FFEFF1;
  color: #5F4C4C;
  margin-top: 120px;
}

#copyright{
  color: #ffeff1;
  text-align: right;
  font-size: 12px;
  margin-bottom: 10px;
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  /* uncomment the next line to center the questions and answers */
  justify-content: center; 
  margin-top: 5px;
  margin-bottom:50px;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
  text-align: center;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
  border-radius: 5px;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 2px solid transparent;
  background-color: #FFEFF1;
  color: #5F4C4C;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
}

button:hover{
  background-color: #5F4C4C;
  color:#FFEFF1;
  border: 2px solid #FFEFF1;
  cursor: url(select.cur), pointer;
}

button:disabled {
  background-color:#5F4C4C;
  color: #5F4C4C;
  border: 2px solid #FFEFF1;
  cursor: url(normal.cur), default;
}

#restart{
  background-color:#5F4C4C;
  color: #FFEFF1;
  border: 2px solid #FFEFF1;
}

#restart:hover {
  border: none;
  background-color: #FFEFF1;
  color: #5F4C4C;
}
